@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

#video {
    width: 100%;
    height: 600px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cool-button {
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    background-color: #1797e6; /* Light blue color */
    color: #fff; /* White text color */
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 10px;
}

.cool-button:hover {
    background-color: #5F9EA0; /* Lighter shade of light blue on hover */
}

.cool-button:focus {
    outline: none;
}
.cool-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mobile view */
@media (max-width: 767px) {
    #video {
        height: 500px;
    }
    .container {
        height: 30px;
        align-items: center;
    }
}

/* Desktop view */
@media (min-width: 768px) {
    #video {
        margin-top: 50px;
    }
    .container {
        height: 150px;
    }
}

/* CSS Rule for Cool Select Element with #1797e6 Color Scheme */
.cool-select {
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Styling the options inside the Cool Select */
  .cool-select option {
    background-color: #333;
    color: #fff;
  }
  
  /* Hover effect for the Cool Select */
  .cool-select:hover {
    background-color: #444;
  }
  
  /* Primary Accent Color */
  .cool-select, .cool-select option {
    background-color: #1797e6;
  }
  
  /* Text Color for Primary Accent */
  .cool-select, .cool-select option {
    color: #fff;
  }
  