@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.video-container {
    text-align: center;
}

#video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0 18px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 18px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 18px 16px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}

.cool-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #1797e6;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.cool-button:hover {
    background-color: #1273a8;
}

.cool-button:focus {
    outline: none;
}

.cool-button:active {
    transform: translateY(2px);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS Rule for Cool Select Element with #1797e6 Color Scheme */
.cool-select {
    width: 200px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

/* Styling the options inside the Cool Select */
.cool-select option {
    background-color: #333;
    color: #fff;
}

/* Hover effect for the Cool Select */
.cool-select:hover {
    background-color: #444;
}

/* Primary Accent Color */
.cool-select,
.cool-select option {
    background-color: #1797e6;
}

/* Text Color for Primary Accent */
.cool-select,
.cool-select option {
    color: #fff;
}

.cool-button,
.cool-select {
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.cool-button:hover,
.cool-select:hover {
    -webkit-box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

/* Mobile view */
@media (max-width: 767px) {
    #video {
        width: 95%;
    }
}
